@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

.dog {
    max-width: 500px;
    border: 5px #F9FAF8 solid;
    border-radius: 15px;
}

li {
    list-style: none;
}

button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 10px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
}

button:hover{
    background-color: navy;
}

.hero-secondary-text,
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
}

#pixabay {
    color: #3882F6;
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


.container {
    display: flex;
    flex-direction: column;

}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    background-color: #1F2937;
    padding: 20px;
    column-gap: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 500px;
}

.header-links {
    display: flex;
    gap: 20px;
    width: 500px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 500px;
    padding: 20px;
    column-gap: 100px;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 500px;
    height: 350px;
}

.header-bottom-right {
    display: flex;
    max-width: 500px;
    height: 350px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 500px;
    gap: 10px;
}

.content-header {
    height: 80px;
}

.content-header h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;
    text-align: center;
}

.dog-card {
    width: 200px;
    height: 200px;
    border: 5px #3882F6 solid;
    border-radius: 15px;
    margin-bottom: 5px;
}

.quote-container {
    display: flex;
    height: 500px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;

}

.quote {
    width: 900px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote aside {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.cta-container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cta {
    width: 900px;
    height: 180px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-text {
    color: #F9FAF8;
}

.cta-text-large {
    font-size: 24px;
    font-weight: bold;
}